<div class="register-container">
    <h2>Create an Account</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input id="username" formControlName="username" type="text" class="form-control" />
        <div *ngIf="registerForm.get('username')?.invalid && registerForm.get('username')?.touched" class="error">
          Username is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password" formControlName="password" type="password" class="form-control" />
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched" class="error">
          Password is required and must be at least 6 characters long.
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" class="form-control" />
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="error">
          Enter a valid email address.
        </div>
      </div>
  
      <div class="form-group">
        <label for="phoneNumber">Phone Number</label>
        <input id="phoneNumber" formControlName="phoneNumber" type="text" class="form-control" />
        <div *ngIf="registerForm.get('phoneNumber')?.invalid && registerForm.get('phoneNumber')?.touched" class="error">
          Phone number is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="address">Address</label>
        <textarea id="address" formControlName="address" class="form-control"></textarea>
        <div *ngIf="registerForm.get('address')?.invalid && registerForm.get('address')?.touched" class="error">
          Address is required.
        </div>
      </div>
  
      <div class="form-group">
        <label for="role">Role</label>
        <select id="role" formControlName="role" class="form-control">
          <option value="" disabled>Select role</option>
          <option value="client">Client</option>
          <option value="tech expert">Tech Expert</option>
          <option value="admin">Admin</option>
        </select>
        <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="error">
          Role is required.
        </div>
      </div>
  
      <button type="submit" class="submit-button" [disabled]="registerForm.invalid"  >Register</button>
    </form>
  </div>
  