<div class="dashboard-container">
  <div class="sidebar">
    <!-- <h1>Your PC Mentor</h1> -->
    <h1>Your PC Mentor </h1>
    <!-- <h1>Admin Dashboard</h1> -->
    <h1>Welcome, {{userName}}!</h1>
    <button (click)="logout()">Logout</button>
      <!-- <header class="dashboard-header">
        <div class="brand-logo">
        </div>
        <div class="admin-profile">
          <img src="assets/admin-avatar.png" alt="Admin Avatar">
          <span>Welcome, {{userName}}!!</span>
          <button (click)="logout()">Logout</button>
        </div>
      </header> -->
      <nav>
        <ul>
          <li *ngFor="let tab of tabs" 
              [ngClass]="{ 'active': currentTab === tab.value }" 
              (click)="navigateTo(tab.value)">
            {{ tab.label }}
          </li>
        </ul>        
      </nav>
  </div>
  <div class="content">
      <!-- <h2>Welcome, Admin!</h2> -->
      <div id="dashboard-overview">
        <router-outlet></router-outlet>
          <!-- Content for the dashboard overview -->
      </div>
  </div>
</div>
