.dashboard-container {
    padding: 20px;
  }
  
  h2 {
    color: #333;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
  }
  
  div {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .dashboard-container > div {
    background-color: #f4f4f4;
    padding: 15px;
    margin-top: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
  }
  