<div class="" *ngIf="viewPage">
  <h2 class="center-align">Service Requests</h2>
  <a class="btn waves-effect waves-light green" (click)="openAddPage()">Add Service Request</a>
  <table class="striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Request Date</th>
        <th>Status</th>
        <th>Type</th>
        <th>Priority</th>
        <th>Client ID</th>
        <th>Tech Expert ID</th>
        <th class="action">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of serviceRequests; let idx = index">
        <td>{{ request.serviceID }}</td>
        <td>{{ request.serviceReqDate | date: 'shortDate' }}</td>
        <td class="center-align">
          <span [ngClass]="getStatusClass(request.serviceReqStatus) " class="badge ">{{ request.serviceReqStatus }}</span>
        </td>
        <td>{{ request.type }}</td>
        <td>{{ request.priority }}</td>
        <td>{{ request.client?.username }}</td>
        <td>{{ request.techExpert?.username }}</td>
        <td class="action-btn">
          <a class="btn waves-effect waves-light orange" (click)="openEditPage(request.serviceID)">Edit</a>
          <a class="btn waves-effect waves-light red" (click)="deleteRequest(request.serviceID)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="editPage">
  <h2 class="center-align">{{ title }} Service Request</h2>
  <form (ngSubmit)="saveRequest()" #serviceRequestForm="ngForm">
    <div class="input-field">
      <input type="text" id="serviceReqStatus" [(ngModel)]="serviceRequest.serviceReqStatus" name="serviceReqStatus" required />
      <label for="serviceReqStatus" [ngClass]="{ 'active': serviceRequest.serviceReqStatus }">Status</label>
    </div>
    <div class="input-field">
      <input type="text" id="type" [(ngModel)]="serviceRequest.type" name="type" required />
      <label for="type" [ngClass]="{ 'active': serviceRequest.type }">Type</label>
    </div>
    <div class="input-field">
      <input type="text" id="priority" [(ngModel)]="serviceRequest.priority" name="priority" required />
      <label for="priority" [ngClass]="{ 'active': serviceRequest.priority }">Priority</label>
    </div>
    <div class="input-field">
      <select id="clientID" name="clientID" [(ngModel)]="selectedClient" required (ngModelChange)="selectClient($event)">
        <option value="" disabled selected>Select Client</option>
        <option *ngFor="let client of clientsList" [ngValue]="client">{{ client.username }}</option>
      </select>
      <label for="clientID" [ngClass]="{ 'active': selectedClient }">Client ID</label>
    </div>
    <div class="input-field">
      <select id="techExpertID" name="techExpertID" [(ngModel)]="selectedTechExpert" required (ngModelChange)="selectTechExpert($event)">
        <option value="" disabled selected>Select Tech Expert</option>
        <option *ngFor="let techExpert of techExpertsList" [ngValue]="techExpert">{{ techExpert.username }}</option>
      </select>
      <label for="techExpertID" [ngClass]="{ 'active': selectedTechExpert }">Tech Expert ID</label>
    </div>
    <button class="btn waves-effect waves-light green" type="submit">Save</button>
    <button class="btn waves-effect waves-light red" (click)="cancel()" type="button">Cancel</button>
  </form>
</div>
