<div class="" *ngIf="viewPage">
  <h2 class="center-align">User List</h2>
  <a class="btn waves-effect waves-light " (click)="openAddPage()">Add User</a>
  <table class="striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Address</th>
        <th>Role</th>
        <th class="action">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userList; let idx = index" >
        <td>{{ user.userID }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phoneNumber }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.role }}</td>
        <td class="action-btn">
          <a class="btn waves-effect waves-light orange" (click)="openEditPage(idx)"> <i
              class="fas fa-edit"></i> Edit </a>
          <a class="btn waves-effect waves-light red" (click)="deleteUser(idx)"> <i class="fas fa-trash"></i>
            Delete </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="container" *ngIf="editPage">
  <h2 class="center-align">{{ isEdit ? 'Edit User' : 'Create User' }}</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="input-field">
      <input id="passname" [(ngModel)]="newUser.username" name="passname" class="validate" required
        (blur)="usernameTouched = true" />
      <label for="passname" [ngClass]="{ 'active': newUser.username }">Name</label>
      <div *ngIf="!newUser.username && usernameTouched" class="text-danger">
        Username is required.
      </div>
    </div>

    <div class="input-field">
      <input id="passKey" type="password" [(ngModel)]="newUser.password" name="passKey" class="validate" required
        (blur)="passwordTouched = true" />
      <label for="passKey" [ngClass]="{ 'active': newUser.password }">Confidential Key</label>
      <div *ngIf="!newUser.password && passwordTouched" class="text-danger">
        Password is required.
      </div>
    </div>

    <div class="input-field">
      <input id="email" type="email" [(ngModel)]="newUser.email" name="email" class="validate" required
        (blur)="emailTouched = true" />
      <label for="email" [ngClass]="{ 'active': newUser.email }">Email</label>
      <div *ngIf="!newUser.email && emailTouched" class="text-danger">
        Valid email is required.
      </div>
    </div>

    <div class="input-field">
      <input id="phoneNumber" [(ngModel)]="newUser.phoneNumber" name="phoneNumber" class="validate" required
        (blur)="phoneNumberTouched = true" />
      <label for="phoneNumber" [ngClass]="{ 'active': newUser.phoneNumber }">Phone Number</label>
      <div *ngIf="!newUser.phoneNumber && phoneNumberTouched" class="text-danger">
        Phone number is required.
      </div>
    </div>

    <div class="input-field">
      <input id="address" [(ngModel)]="newUser.address" name="address" class="validate" required
        (blur)="addressTouched = true" />
      <label for="address" [ngClass]="{ 'active': newUser.address }">Address</label>
      <div *ngIf="!newUser.address && addressTouched" class="text-danger">
        Address is required.
      </div>
    </div>

    <div class="input-field">
      <input id="role" [(ngModel)]="newUser.role" name="role" class="validate" required (blur)="roleTouched = true" />
      <label for="role" [ngClass]="{ 'active': newUser.role }">Role</label>
      <div *ngIf="!newUser.role && roleTouched" class="text-danger">
        Role is required.
      </div>
    </div>

    <button class="btn waves-effect waves-light green" type="submit">Save</button>
    <button class="btn waves-effect waves-light" type="button" (click)="cancelForm()">Cancel</button>

  </form>
</div>