<div class="" *ngIf="viewPage">
  <h2 class="center-align">Custom PC Builds</h2>
  <a class="btn waves-effect waves-light green" (click)="openAddPage()">Add Build</a>
  <table class="striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Build Type</th>
        <th>Budget</th>
        <th>Status</th>
        <th>Client ID</th>
        <th>Tech Expert ID</th>
        <th>Admin ID</th>
        <th class="action">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let build of buildList let id = index">
        <td>{{ build.customPCID }}</td>
        <td>{{ build.buildType }}</td>
        <td>{{ build.budget | currency }}</td>
        <td>
          <span [ngClass]="getStatusClass(build.buildStatus)" class="badge">{{ build.buildStatus }}</span>
        </td>
        <td>{{ build.client?.username }}</td>
        <td>{{ build.techExpert?.username }}</td>
        <td>{{ build.admin?.username }}</td>
        <td class="action-btn">
          <a class="btn waves-effect waves-light orange" (click)="openEditPage(id)">Edit</a>
          <a class="btn waves-effect waves-light red" (click)="deleteBuild(build.customPCID)">Delete</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<div class="container" *ngIf="editPage">
  <h2 class="center-align">{{ currentBuildId ? 'Edit Build' : 'Create Build' }}</h2>
  <form (ngSubmit)="onSubmit()">

    <div class="input-field col s12 m12">
      <ng-select id="clientID" [items]="clientsList" bindLabel="username" bindValue="userID"
      class="ypm_NgSelectFields"  name="admin"  (change)="selectClient($event)" placeholder="Select Client" class="ng-select">
      </ng-select>
      <!-- <label for="clientID" class="active">Client</label> -->
    </div>

    <!-- Tech Expert Selection -->
    <div class="input-field col s12 m12">
      <ng-select id="techExpertID" [items]="techExpertsList" [(ngModel)]="selectedTechExpert" required
      class="ypm_NgSelectFields"    bindLabel="username" bindValue="userID" (change)="selectTechExpert($event)"
                 name="techExpert"  placeholder="Select TechExpert" class="ng-select">
      </ng-select>
      <!-- <label for="techExpertID" class="active">Tech Expert</label> -->
    </div>

    <!-- Admin Selection -->
    <div class="input-field col s12 m12">
      <ng-select id="adminID" [items]="adminsList" [(ngModel)]="selectedAdmin" bindLabel="username" bindValue="userID"
      class="ypm_NgSelectFields"    name="admin" (change)="selectAdmin($event)" placeholder="Select Admin" required class="ng-select">
      </ng-select>
      <!-- <label for="adminID" class="active">Admin</label> -->
    </div>
 

    <div class="input-field">
      <input id="buildType" type="text" name="buildType" [(ngModel)]="customBuild.buildType" required class="validate" />
      <label for="buildType" [ngClass]="{ 'active': customBuild.buildType }">Build Type</label>
    </div>

    <div class="input-field">
      <input id="budget" type="number" name="budget" [(ngModel)]="customBuild.budget" required class="validate" />
      <label for="budget" [ngClass]="{ 'active': customBuild.budget }">Budget</label>
    </div>

    <div class="input-field">
      <input id="buildStatus" type="text" name="buildStatus" [(ngModel)]="customBuild.buildStatus" required class="validate" />
      <label for="buildStatus" [ngClass]="{ 'active': customBuild.buildStatus }">Build Status</label>
    </div>

    <button class="btn waves-effect waves-light green" type="submit">Save</button>
    <button class="btn waves-effect waves-light red" type="button" (click)="cancelForm()">Cancel</button>
  </form>
</div>
