
<!-- <router-outlet></router-outlet> -->
<!-- <app-custom-pc-build></app-custom-pc-build> -->
<!-- <app-login></app-login> -->
<router-outlet></router-outlet>
<!-- <app-dashboard></app-dashboard> -->
 <!-- <app-register></app-register> 
<app-user></app-user>
<app-component-inventory></app-component-inventory>
<app-custom-pc-build></app-custom-pc-build>
<app-pc-component></app-pc-component>
<app-service-request></app-service-request>
<app-orders></app-orders>
<app-delivery></app-delivery>
<app-invoice></app-invoice>
<app-payment></app-payment>
<app-review-feedback></app-review-feedback> -->
