<div class="order-page">
  <h2>Your Order</h2>
  
  <form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
    <!-- Size Selection -->
    <!-- <div class="form-group">
      <label>Size:</label>
      <div>
        <label><input type="radio" formControlName="size" value="M"> M</label>
        <label><input type="radio" formControlName="size" value="L"> L</label>
        <label><input type="radio" formControlName="size" value="XXL"> XXL</label>
      </div>
    </div> -->
    
    <!-- PC Components -->
    <div class="form-group">
      <label>Components:</label>
      <div *ngFor="let component of pcComponents">
        <label>
          <input type="checkbox" [value]="component" >
          {{component.componentName}}
        </label>
      </div>
    </div>

    <!-- Service Request -->
    <div class="form-group">
      <label>Service Request:</label>
      <select formControlName="serviceRequest">
        <option *ngFor="let request of serviceRequests" [value]="request.serviceID">{{request?.type}}</option>
      </select>
    </div>

    <!-- Order and Submit -->
    <button type="submit">Order</button>
  </form>
</div>
